<div class="p-3">
<h1>Stupid Coaching</h1>
<p>Ask your coach anything:</p>
</div>

<div class="ps-3" style="width: 40vw">
  <form class="d-flex" action="/answer" data-turbo="false">
    <input class="form-control form-control-lg rounded-start" style="width: 88%" type="text" name="question">
    <input class="btn btn-primary rounded-end" style="width: 12%" type="submit" value="Ask!">
  </form>
</div>
